<app-toolbar></app-toolbar>
<div class="container">
    <div class="logo_2014">
        <img src="http://3.bp.blogspot.com/-vS9tIsdOlSQ/U84QZDC2J3I/AAAAAAAAcaw/Pbl84y0M42U/s1600/fuleco01-mundial.jpg" alt="">
        <div>
            <h2>Sorteo mundial</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita iste, necessitatibus sint est voluptates veniam vero dolorum eius tempore dolore vel, saepe dolor quasi inventore facilis ipsum explicabo, deleniti excepturi.
            </p>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th *ngFor="let key of keys" scope="col">
                    {{ key }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let competitor of competitors; let i = index">
                <th scope="row">{{i}}</th>
                <td>
                    {{ competitor._id }}
                </td>
                <td>
                    {{ competitor.name }}
                </td>
                <td>
                    {{ competitor.surname }}
                </td>
                <td>
                    {{ competitor.age }}
                </td>
                <td>
                    {{ competitor.telephone }}
                </td>
                <td>
                    {{ competitor.cellphone }}
                </td>
                <td>
                    {{ competitor.address }}
                </td>
                <td>
                    {{ competitor.city }}
                </td>
                <td>
                    {{ competitor.country }}
                </td>
            </tr>
        </tbody>
    </table>
</div>